
body{
    background: lightblue;
}

img{
    width: 200px;
    height: 180px;
    position: absolute;
}
.banner{
    border: solid blue 5px;
    width: 80vh;
    height: 80vh;
    padding: 5px;
    position: relative;
}
.one{
    top: 0;
    left: 0;
    /* z-index: 3; */
    /* z-index: 2; */
    z-index: -10;
}
.two{
    top: 15%;
    left: 15%;
    /* z-index: 2; */
    /* z-index: 3; */
    z-index: -5;
}
.three{
    top: 30%;
    left: 30%;
    /* z-index: 1; */
    z-index: -3;
}